body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.chat-container {
    max-width: 80%;
    margin: auto;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-messages {
    max-height: 70%;
    overflow-y: auto;
    margin-top: 20px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* chat file */
/* to stop zoom card */
.card {
	touch-action: none !important;
	-ms-touch-action: none !important;
}
.chat-container .avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  .chat-messages .message {
	background-color: #f8f9fa;
	padding: 10px;
	border-radius: 10px;
  }
  
  .chat-sidebar {
	border-right: 1px solid #ddd;
  }
  
  @media (max-width: 700px) {
	.chat-sidebar {
	  display: none;
	}
  }
