.homeText {
    font-family: "Dancing Script", cursive;
    color: #0aad0a !important;
    font-weight: bold;
    font-size: larger;
}
.navbar {
    background-color: #f8f9fa; 
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .navbar:hover {
    background-color: #e9ecef; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .nav-link {
    color: #495057;
    transition: color 0.2s, transform 0.2s;
  }
  
  .nav-link:hover {
    color: #0aad0a;
    transform: translateY(-2px);
  }
  
  .nav-item {
    position: relative;
  }
  
  .nav-item::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #0aad0a;
    transition: width 0.3s ease, background-color 0.3s ease; 
    position: absolute;
    left: 50%;
    bottom: -4px; /* Position below the text */
    transform: translateX(-50%);
  }
  
  .nav-item:hover::after {
    width: 80%;
  }
  
  /* Responsive Design */
  @media (max-width: 576px) {
    .nav-item {
      text-align: center;
    }
  }
